# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
bin

# Ignore anything in open_source_java_projects
open_source_java_projects/**

**/__pycache__
/logdensitytool/node_modules/
**/node_modules
/services/training_data/*
!.gitkeep

# Ignore .idea
.idea/
.venv